.env
node_modules
package-lock.json
.vscode
.idea
dist/*
build
yarn.lock
vendor/*
composer.phar
composer.lock


tools/inc/vietnix-import-docs/vendor8/vendor
tools/inc/vietnix-import-docs/vendor8/vendor/composer.lock
tools/inc/vietnix-import-docs/vendor74/vendor
tools/inc/vietnix-import-docs/vendor74/vendor/composer.lock

tools/inc/vietnix-search-ai/storage/post_embeddings_ai.json
tools/inc/vietnix-search-ai/storage/huongdan_embeddings_ai.json

# Google service account keys
app/credentials.json
app/gbot-credentials.json
app/secrets.php
